@import "bootstrap/scss/bootstrap";

.router-link {
	text-decoration: none;
	color: #fff;
	display: inline-block;
	padding: 15px 7px;
}

#spinner {
	display: grid;
	place-items: center;
	height: 100vh;
}
